
@media only screen and (max-width: 800px) {
  .nav{
  flex-wrap: wrap;
  }
  .burger-nav{
    display: inline;
  }
.d-footer{
  flex-wrap: wrap;
}
}
@media only screen and (max-width: 500px) {
  .nav{
  display: none;
  }

}

